In [39]:
import pandas as pd
import sklearn
import numpy as np
import matplotlib
import matplotlib.pyplot 
matplotlib.style.use('ggplot')
%matplotlib inline
from sklearn.model_selection import train_test_split

SyntaxError: invalid syntax (<ipython-input-39-c9ba36239ba9>, line 8)

In [20]:
# clean up the data while loading, set a names for every data, seperate them using a whitespace(regex) and use the name pass to the name args in the array
df = pd.read_csv("http://archive.ics.uci.edu/ml/machine-learning-databases/housing/housing.data", delimiter=r"\s+", names = ["CRIM", "ZN","INDUS","CHAS","NOX","RM","AGE","DIS","RAD","TAX","PTRATIO","B","LSTAT","MEDV"])

In [21]:
# print the first 5 rows of data
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [8]:
#show the shape of data in (rows, columns)
df.shape

(505, 1)

In [28]:

#check if any null value exist in the dataframe
df[pd.isnull(df).any(axis=1)]

0      False
1      False
2      False
3      False
4      False
       ...
501    False
502    False
503    False
504    False
505    False
Length: 506, dtype: bool

In [29]:
# seperate dataframe into dependent and independent variables
X = df[["CRIM", "ZN","INDUS","CHAS","NOX","RM","AGE","DIS","RAD","TAX","PTRATIO","B","LSTAT"]]
Y = df["MEDV"]

In [30]:
type(X)

pandas.core.frame.DataFrame

In [37]:
X.shape

(506, 13)

In [35]:
type(Y)

pandas.core.series.Series

In [34]:
Y.shape

(506,)

In [38]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state=5)

NameError: name 'train_test_split' is not defined